/* .history_container{
	gap: 1rem;
} */

.list_styling{
	width: 100%;
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	align-items: center;
}

.header_styling{
	width: 100%;
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	margin-top: 1.5rem;
	background-color: lightblue;
}

.historyHeader{
	font-weight: bold;
}

li{
	flex-basis: 20%;
}

.list_styling button{
	flex-basis: 20%;
	background-color: transparent;
}