.list_styling{
	width: 100%;
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	gap: 0.5rem;
}

.header_styling{
	width: 100%;
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	margin-top: 1.5rem;
	background-color: lightblue;
}

.historyHeader{
	font-weight: bold;
}

li{
	flex-basis: 20%;
}

.list_styling button{
	background-color: transparent;
	border: 1px solid lightcoral;
	padding: 0.5rem;
	margin-top: 1rem;
	margin-left: 1rem;
}

@media screen and (min-width: 600px) and (max-width: 1025px){

}

@media screen and (max-width: 599px){
	
}
